name: "e-face"
description: "Personalized user interface add-on (testing)"
version: "r0.2.1"
slug: "eface"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: application
boot: auto
ports:
  "8000/tcp": 8000
webui: "http://[HOST]:[PORT:8000]"
options: {}
schema: {}
